body {
	font-family: courier-std, monospace;
	font-style: normal;
	font-weight: 400;
}

h1 {
	text-align: center;
}

input[type="file"] {
	display: none;
}

.chart-stype {
	/*Center alignment*/
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.data-upload-btn {
	width: 90%;
	background-color: #4286f4;
	border-radius: 4px;
	color: white;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;

	/*Center alignment*/
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width: 800px) {
  body {
    font-size: 18px;
  }

  .data-upload-btn {
  	width: 90%;
  	font-size: 20px;
  }

}